#register{
    margin-top: 150px;
    margin-bottom: 100px;

}

#prodet{
    padding: 10px 0px 0px 150px;
}

#prodet span{
    color:  #386d7a;
    font-weight: bolder;
    letter-spacing: 1px;
    padding-left: 5px;
  }